<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task list view</title>
</head>
<body>
<h2><a href="{% url 'task-create' %}"> Create a new task </a></h2>

<h1>To Do list</h1>
<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title }}</td>
        <td><a href="{% url 'task' task.id %}"> View </a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table>
</body>
</html>